.orderbanner{
	width: 100%;
	height: 1.222rem;
	background-color: #bb61ff;
	text-align: center;
	line-height: 1.222rem;
	color: white;
	font-size: 0.416667rem;
	font-weight: 700;
	margin-bottom: 0.1rem;
}
body{
	background-color: #f4f4f4;
}
.flexcontent{
	width: 9.444rem;
	height: 3.75rem;
	background-color: white;
	margin-top: 0.2778rem;
	border-radius: 0.2rem;
}
.contentnav{
	height: 1.20833rem;
	width: 9.444rem;
	/*background-color: yellow;*/
}
.contentnav li{
	float: left;
	width: 1.2rem;
	height: 1.20833rem;
	line-height: 1.2833rem;
	text-align: center;
}
.contentnav img{
	/*height: 0.5556rem;*/
	width: 0.5556rem;
	vertical-align: middle;
}
.contentnav span{
	/*vertical-align: middle;*/
}
.contentnav li:nth-child(2){
	color: #bb61ff;
	width: 0.6rem;
}
.contentnav li:nth-child(3){
	width: 2.2rem;
}
.contentnav li:nth-child(4){
	width: 4.6rem;
	margin-left: 0.5rem;
	text-align: right;
}
.contentnav li:nth-child(5){
	width: 1.6rem;
}
.contentbox1{
	height: 1.20833rem;
	width: 9.444rem; 
}
.contentbox1 li{
	float: left;
	/*width: 4rem;*/
	height: 1.20833rem;
	line-height: 1.2833rem;
	/*text-align: center;*/
}
.contentbox1 li:nth-child(1){
	width: 4rem;
	margin-left: 0.4rem;
}
.contentbox1 li:nth-child(2){
	width: 3rem;
	margin-left: 1.8rem;
}

.contentbox2{
	height: 1rem;
	width: 9.444rem; 
}
.contentbox2 li{
	float: left;
	/*width: 4rem;*/
	height: 0.8rem;
	line-height: 0.8rem;
	/*text-align: center;*/
}
.contentbox2 li:nth-child(1){
	width: 4rem;
	margin-left: 1.2rem;
	/*text-align: center;*/
}
.contentbox2 li:nth-child(2){
	width: 3rem;
	margin-left: 1rem;
}