/*轮播样式*/
#lunbobox {
    width:10rem;
    height:4.86111rem;
    position:relative;
}
.lunbo {
    width:10rem;
    height:4.86111rem;
}
.lunbo img {
    width:10rem;
    height:4.8611rem;
    position:absolute;
    top:0px;
    left:0px;
}
#lunbobox ul {
    width:4rem;
    position:absolute;
    bottom:0.16rem;
    right:1.7rem;
    z-index:5;
}
#lunbobox ul li {
    cursor:pointer;
    width:0.2rem;
    height:0.1rem;
    border:1px solid #cccccc;
    float:left;
    list-style:none;
    background-color: rgba(204,204,204,0.7);
    text-align:center;
    margin:0px 0.15rem 0px 0px;
    border-radius: 0.05rem;
}

/*导航栏CSS*/
    .nav{
        width: 100%;
        height:2.3rem;
        /*background-color: yellow;*/
    }
    .nav li{
        float: left;
        width: 3.333333rem;
        height: 1.6rem;
        text-align: center;

    }
    .nav img{
        width: 1rem;
        height: 1rem;
        margin-top: 0.4rem;
    }
    .navtex li{
        height: 0.5rem;
        margin-top: -0.07rem;
        /*font-size: 0.2rem;*/
    }
/*消息栏样式*/
    .newports{
        width: 10rem;height: 0.723rem;
        
        margin-top: 0.13rem;
        color: white;
        font-size: 0.29rem;
    }
    .newleft{
        float: left;
        height: 0.4028rem;
        width: 0.528rem;
        margin-top: 0.18rem;
        margin-left: 0.3rem;
    }
    .newleft img{
        height: 0.4028rem;
        width: 0.528rem;

    }
    .newright{
        float: left;
        height: 0.723rem;
        width: 8rem;
        margin-left: 0.3rem;
        background-image: url(../image/notice_l.png);
        background-repeat: no-repeat;
        background-size: 7.75rem 0.723rem;
        overflow: hidden;
    }

    .newright ul {
        list-style:none;
        width:100%;
        height:100%;
        margin-left: -0.2rem;
        margin-top: 0.05rem;
    }
    .newright ul li {
        width:100%;
        height:0.723rem;
        box-sizing:border-box;
        line-height:0.723rem;
        text-align:center;
    }
/*    .newports{
        width: 100%;
        height: 0.83333rem;
        text-align: center;
        position: relative;
        background-color: #f6f6f6;
    }
    .newports li{
        float: left;
    }
    .portsli1{
        width: 0.5277778rem;
        height: 0.4027778rem;
        margin-left: 0.5rem;
        margin-right:0.5rem;
        margin-top: 0.3rem;
    }
    .portsli2{
        width: 7.75rem;
        height: 0.72222rem;
        margin-left: -0.2rem;
        margin-top:0.1rem;
    }
    .portsli3{
        margin-top:-0.68rem;
        margin-left: 2.2rem;
        color: white;
        font-size: 0.28rem;
    }*/
/*结果拦样式*/
    .result{
        margin-top: 0.1rem
        width: 100%;
        height: 6.4rem;
        /*background-color: pink;*/
        margin-top: 0.1333rem;
    }
    .resultnav{
        height: 0.73666rem;
    }
    .imageresult{
        width: 3.5444rem;
        margin-right: 0.3rem;
        margin-left: 0.1rem;
    }
    .viewfun{
        /*float: left;*/
        margin-top: 0.1333rem;
        flex: 1;
        /*text-align: center;*/
        /*line-height: 100px;*/
        /*font-size:0.2rem;*/
        /*font-size: 0.3rem;*/
    }
    .viewfun span{margin-left: 0.2rem;}

.linehr{
    width:10rem;
    height:0.138889rem; 
    background:rgba(241,241,241,1);
    margin-left: 0.138889rem;
}
.rescon{
    display:flex;
    overflow: hidden;
    height: 5.075rem;
}
.rescon1{
    display:flex;
    overflow: hidden;
    overflow-x: auto;
    height: 5.475rem;

}

/*全部商品*/
.allshops{
    width:100%;
    height:0.6666667rem;
    /*background-color: pink;*/
    margin-bottom: 0.15rem;
}
.allshops .shops1 img{
    height: 0.73667rem;
    width: 2.73667rem;
}
.shops1{
    float: left;
}
.shops2{
    float: left;
    /*background-color: yellow;*/
    height:0.73888667rem;
    width: 5.5rem;
}
.shops2 li{
    float: left;
    width: 1.1rem;
    height: 0.66667rem;
    /*vertical-align: middle;*/
    text-align: center;
    /*display:table-cell;*/
    line-height: 0.6667rem;
}
.shops2 img{
    width: 0.66667rem;
    height: 0.66667rem;
    /*margin: auto;*/
    /*display: block;*/
    /*vertical-align: middle;*/
    /*position: relative;*/
    /*top: 50%;*/
    
}

.shops3{
    float: left;
    /*background-color: green;*/
    height:0.73888667rem;
    line-height: 0.66667rem;
    margin-left: 0.45rem;
    /*font-size: 0.2rem;*/
    /*margin-bottom: 0.5rem;*/
}
.shopstxt{
    position: absolute;
    color: white;
    left: 0.23rem;
    margin-top: 0.1rem;
}
/*全部商品盒子*/
.show{
    width: 100%;
    /*height: 15rem;*/
    display: flex;
    flex-wrap: wrap;
    /*border: 1px solid green;*/
    justify-content:space-around;
    margin-top: 0.3rem;
}
.showbox{
    /*flex: 1;*/
    /*background-color: pink;*/
    width: 4.5rem;
    height: 6.30556rem;
}
.showbox img{
    width: 4.48611rem;
    height: 4.48611rem;
}
.buyshop{
    width: 4.48611rem;
    height: 1.30556rem;
    /*background-color: yellow;*/
}
.buytxt{
    width:2.63889rem;
    height: 0.972222rem;
    /*background-color: green;*/
    float: left;
}
.buyimg{
    width:1.8195rem;
    height: 0.695rem;
    /*background-color: red;*/
    float: left;
    margin-top: 0.1rem;
    /*background-image: url(image/miao_07.jpg);*/
}
.buyimg img{
    width:1.8195rem;
    height: 0.695rem;
}
.miao11{
    width: 10rem;
    height: 16.516667rem;
}

/*固定底栏*/
.footer{
    width:100%;
    height: 1.2222rem;
    position: fixed;
    bottom: 0rem;
    /*background-color: pink;*/
    z-index: 99;
    background-color: #f6f6f6;
    /*margin-top: 0.1rem;*/
}

.footer div{
    float: left;
    width: 2.5rem;
    height: 1.2222rem;
}
.footer1{
    background-image: url(../image/footer1.jpg);
    background-size: 2.5rem 1.2222rem;
    background-repeat: no-repeat;
}
.footer2{
    background-image: url(../image/footer2.jpg);
    background-size: 2.5rem 1.2222rem;
    background-repeat: no-repeat;
}
.footer3{
    background-image: url(../image/footer3.jpg);
    background-size: 2.5rem 1.2222rem;
    background-repeat: no-repeat;
}
.footer4{
    background-image: url(../image/footer4.jpg);
    background-size: 2.5rem 1.2222rem;
    background-repeat: no-repeat;
}


.footer1a{
    background-image: url(../image/footer1a.jpg);
    background-size: 2.5rem 1.2222rem;
    background-repeat: no-repeat;
}
.footer2a{
    background-image: url(../image/footer2a.jpg);
    background-size: 2.5rem 1.2222rem;
    background-repeat: no-repeat;
}
.footer3a{
    background-image: url(../image/footer3a.jpg);
    background-size: 2.5rem 1.2222rem;
    background-repeat: no-repeat;
}
.footer4a{
    background-image: url(../image/footer4a.jpg);
    background-size: 2.5rem 1.2222rem;
    background-repeat: no-repeat;
}

/*开奖界面*/
